html 
{
    height: 100%;
    min-height: 100%;
    font-size: 100%;
}
body
{

	height:100%;
	background-image:url(../image/open2.jpg);
	background-position:cover;
    margin: 0;
    min-height: 100%;	
}
header
{
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    height: 4.6em;	
}
#main
{	

    position: absolute;
    width: 100%;                
    top: 4.75em;
    bottom: 2.75em;
    overflow: auto;
	margin-bottom:5%;
	/* height:800px; */ 

}
footer
{		
	margin-top:0px;
	color:white;
	background-color: #333;
    position: absolute;
    width: 100%;
    height: 5em;
    bottom: 0;
	border-top: 0.15em solid green;
}
#p_foot
{
	margin-bottom:0px;
	background-color:black;
	width:200px;
	height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
div,p,h1
{
	margin-top:0px;
}

li {
    float: right;
}
th
{
	color:white;
	background-color:black;
	width:8em;
	
}
#btn_select
{
	border-radius:30px;
	background-color:green;
}

.search,.td_reserv,tr
{
	border-style:outset;
	background-color:WhiteSmoke;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) 
{
    background-color: #111;
}

.active 
{
    background-color: #4CAF50;
}


#search_bar
{	
	position:relative;
	font-size: 20px;	
	margin:auto;
	padding:11.5px;
}


#acceuil
{	
	height:auto;
}
#log_sign
{	

	top:10%;
	position:relative;
	width:500px;
	height:auto;
	border-style:outset;
	padding-bottom:20px;
	border-radius:15px;
	background-color: #ffffff;
	opacity: 0.6;
}


#welcome
{
	font-family:Algerian;
	font-size: 100px;
	margin-bottom:0px;
}
#logo
{
	vertical-align:text-top;
}
#facture
{
	 border: 2px solid blue;
	 background-color:Gainsboro;
	 max-width:700px;
}
#gestion
{
	max-width:970px;
}
a:hover
{
	background-color: grey;
	border-radius:15px;
}