body
{
	background-image: url(../image/open2.jpg);
    background-size: 75%;   
    background-repeat: no-repeat;
    background-position: center center; 
	margin:auto auto;
	width:80%;
	height:100%;
}

#welcom
{
	text-align: center ;
	position:relative;
}

ul 
{
	margin:0px 0px;
    padding: 0px 50px 0px;
	border-radius: 15px;
    list-style-type: none;
	position:relative;
    top:5px;
	font-family:Old English Text MT;
	width:90%;
	
}
h1,h3
{
	
	font-family:Old English Text MT;
}


li 
{
	margin-top:0px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
    float: left;
}

li a 
{
	
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

li:hover 
{
	
    background-image: url(../image/openbook.png);
	background-size: 100%;
	background-position: center center; 
	background-repeat: no-repeat;
}
#picetud
{
	position:absolute;
	margin:0px 0px;
	top:200px;
	left:700px;
}
#tableEtud
{
	position:relative;
	margin:0px 0px;
    width:250px;
	right:170px;
} 