﻿@model e_learning.Models.etudiantMode

@{
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}


@using (Html.BeginForm("CompleteRegistration", "etudiant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2">

            <div class="form-horizontal">
                <h3>Parametre</h3>
                <span style="color:blue"> @ViewBag.msg </span>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">Old Password</label>
                    <input type="password" class="form-control" name="oldpw">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">New Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-md btn-danger" /> 
                        @Html.ActionLink("Une prochaine fois", "IndexEtudiant")
                    </div>    
            </div>

        </div>
    </div>
}


