﻿@model e_learning.Models.demandeMode


@{
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}


<h1>Confirmation</h1>

@using (Html.BeginForm("isnscription","Etudiant",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
           <h3> @ViewBag.msg </h3>
        </div>

    </div>
}

<div>
    @Html.ActionLink("OK", "showcours", "Etudiant",new {@class="btn btn-primary" })
</div>
