﻿@model IQueryable<cours>

@{
    ViewBag.Title = "showcours";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}

<div class="row text-center" id="tolearnbox">
    <div class="col-md-8" >
        <h1 id="tolearn">Vous êtes à un "click" </h1 >
        <h1 id="tolearn">d'un nouveau monde!</h1>
    </div>
    <div class="col-md-2">
        <img src="~/Images/young-man.png" width="400" height="450" class="img-fluid"/>
    </div>
</div>

<div class="row text-left">
    <div class="col-12">
        <h1> @ViewBag.message</h1>
        <hr />
    </div>
</div> 

<div class="row text-center" id="coursbox">

    @foreach (cours c in Model)
        {
            <div class="col-xs-4 col-sm-2 ">
                <img src="@c.logo" width="100" height="100" class="img-fluid" />
                <h4>@c.nom</h4>
                <h6>Enseignant: @c.enseignant.nom</h6>
                    <div class="form-group">
                        <button type="submit" onclick="location.href='@Url.Action("inscription","Etudiant", new { reportID = @c.Id_cours }, null)'" class="btn btn-block btn-success" >Learn</button>
                    </div>
            </div>
        }
</div>
