﻿@model IQueryable<demande_inscription>

@{
    ViewBag.Title = "showdemande";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}

<h2>Mes cours</h2>

<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            Nom du cours
        </th>
        <th>
            Nom de l'etudiant
        </th>
        <th>
            Accepter
        </th>
    </tr>

@foreach (demande_inscription dem in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => dem.num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dem.cours.nom)
        </td>
        <td>
           @Html.DisplayFor(modelItem => dem.etudiant.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>dem.accepter) 
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
