body
{
 	width:99%;
	height:100%;
	margin-right:0px;	
}

#entete
{
	background-image: url(../image/clinique.jpg);
	background-position: center center;		   
	background-repeat: no-repeat; 
	background-size: 100%;
	box-shadow: 0 0 6px 5px rgba(0, 140, 186, 0.5);
	position:relative;
	background-color:white;
	margin-bottom:5px;
	height:18%;
	margin-right:0px;
}

#corp
{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	position:relative;
	background-image: url(../image/crew.jpg);
	background-position: center center;		   
	background-repeat: no-repeat; 
	background-size: 100%;
 	width:100%;	
	height:100%;
	margin-top:1%;
	margin-right:0px;	
}

#accueil
{
	top:25%;
	position:relative;
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
	margin:auto auto;
	width:600px;
	background-color: #ffffff;	
	opacity: 0.9;
	filter: alpha(opacity=60);	
}


ul 
{	
	position:relative;	
	margin-top:0px;		
	margin-bottom:0px;
    list-style-type: none;
	font-family:Old English Text MT;
	width:100%;
}

h1,h3
{
	margin:5px 0px 5px 0px;
	font-family:'Bookman Old Style', serif;
}


li 
{
	margin-left:4%;
	margin-right:4%;
    float: left;
}

li a 
{
	
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

li:hover 
{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	height:50px;
	border-radius:15px;
}
.box
{
	box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);	
	background-color: #ffffff;	
	opacity: 0.8;
	filter: alpha(opacity=60);
	border-radius:25px;
}


