body
{
background:url(../images/stage002.gif);
margin: auto auto;

}

#logo
{
background-image:url(../images/eqz3.gif);
background-position: center center;
background-size: 900px 150px;
background-repeat:no-repeat;
font-family: New Roman; color:white;
font-size: 100px;
font-weight:bold;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);

text-align:center;
top:0px;
position: relative;
}

#navigation
{
width: 45%;
margin: auto auto;
height: auto ;
}

aside#gauche
{

margin: auto 5%;
background-color:black;    
width: 250px;
height: 490px;    
top:510px;    
position:absolute;
border:outset;
}

aside#droite
{

margin: auto 5%;
background-color:black;    
width: 250px;
left:71%;
height: 490px;    
top:510px;    
position:absolute;
border:outset;
}


div#playlisthiphop
{   
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}

div#playlistjazz
{
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}

div#playlistkompa
{
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}

div#playlistreggae
{
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}

div#playlistrnb-soul
{
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}

div#playlisturban
{
border:outset;
background:black;
color:white;
width: 600px;
height:500px;
position:relative;
margin: auto auto;
}



#flecheL
{
float:left;
top:20px;
position:relative;

}

#flecheR
{
float:right;
top:20px;
position:relative;
}



h2
{
color:black;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);	
}



#flecheLbottom
{
float:left;
bottom:-50px;
position:relative;
}

#flecheRbottom
{
float:right;
bottom:-50px;
position:relative;
}


#Home
{
bottom:100px;
margin:10px 0px;
width: auto;
}

audio
{
float: right;

}
