body
{
background:black;
margin: auto auto;

}


#speaker1
{
margin: 30px 0px;
height:5%;
width:5%;
float: left;
position:relative;
}


#speaker2
{
position:relative;	
margin: 30px 0px;
height:5%;
width:5%;
float: right;
}

#entete
{

position:relative; 
margin: 10px auto;
width: 85%;

}

.Topbox
{
height:10%;
margin: 50px auto;
width: 90%;
}

.Topbox a
{
border-style: solid;
margin-top:2%;
margin-left:7%;
width: auto;
border-radius: 18px;
text-align :center;
}

.Topbox a:hover
{
box-shadow: 10px 10px 5px white;
color:white;
}


#flecheL
{
margin: auto auto;
float:left;
top:15px;
position:relative;

}

#flecheR
{
margin: auto auto;
float:right;
top:15px;
position:relative;
}

div#Home
{
margin: auto auto;
position:relative;
width: 100px;

}


#navigation
{
width: 50%;
margin: auto auto;
position: relative;
}





ul
{
color: blue;

}

h2
{
color:black;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);	
}

#title
{
margin: 0px 0px;
background-image:url(../images/montreal.jpg);
background-position: bottom center;
background-repeat: no-repeat;
background-size: 960px 180px;
font-family: New Roman; color:white;
font-size: 126px;
font-weight:bold;
text-align: center;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);

}



div#Genres
{
background-image:url(../images/montreal.jpg);
background-position: center center;
background-repeat:no-repeat;
background-size: 70% 120%;
color:white;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#Hiphop-Rap2
{
background-image:url(../images/hipfans.jpg);
background-position: top center;
background-repeat:no-repeat;
background-size: 100% 300%;
color:orangered;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#Jazz2
{
background-image:url(../images/max.jpg);
background-position: top left;
background-repeat:no-repeat;
background-size: 50% 200% ;
color:orangered;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#Kompa2
{
background-image:url(../images/Haitifemme.jpg);
background-position: top center;
background-repeat:no-repeat;
background-size: 100% 300% ;
color:white;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#Reggae2
{
background-image:url(../images/reggae2.jpg);
background-position: center center;
color:white;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#RnB-Soul2
{
background-image:url(../images/soulxx.jpg);
background-position: top center;
background-repeat:no-repeat;
background-size: 100% 160%;
color:black;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

div#Urban2
{
background-image:url(../images/montreal.jpg);
background-position: top ;
background-repeat: no-repeat;
background-size: 100% 200%;
color:white;
height: auto;
width: 90%;
margin: auto auto;
bottom:450px;
border-style: hidden;
}

#flecheLbottom
{
margin: auto auto;
float:left;
top:90px;
position:relative;

}

#flecheRbottom
{
margin: auto auto;
float:right;
top:90px;
position:relative;
}


div#Home2
{
margin:50px 0px;
}
footer
{
margin: auto auto;
position: relative;
height: auto;
width: 90%;
}

button 
{
  border-radius:20px;
  margin: 5px;
  margin-top: 20px;
  line-height: 20px;
  font-weight: bold;
  background:white;
  position: relative;
  border-style: groove;
  left: 70px;
}

button:hover 
{
  background: blue;
}
