body
{
	background-color:black;
}

#header
{
	width:80%;
	position:relative;
	margin:auto auto;
}
#pub
{
	background-image: url(../image/slide_Guimaev.gif);
	background-size: 600px 310px;
	background-repeat: no-repeat;
	height: 350px;
	width:70%;
	position:relative;
	margin:auto auto;
}
#main
{
	height: 600px;
	width:80%;
	position:relative;
	margin:auto auto;
}
#service
{
	height: 850px;
	width:70%;
	position:relative;
	margin:auto auto;
	background-color:#D3D3D3;
}
#eatgood
{	
	position:relative;
	background-color:white;
	height: auto;
	width:70%;
	margin:auto auto;
}

#firstpic
{
	height: 600px;
	width:80%;
	position:relative;
	margin:auto auto;
}
th, td 
{
    padding: 5px;
	text-align: left;
	background-color:white;
}
td
{
 font-size:20px;	
}
th
{
 font-size:30px;
}
ul 
{	
	position:relative;	
    list-style-type: none;

}
li a 
{
    display: block;
    text-align: right;
    text-decoration: none;
}

#mybut:hover,#flecheR:hover,#flecheL:hover
{
	box-shadow: 0 0 5px 5px rgba(0, 150, 186, 0.8);
	border-radius:15px;	
}
#LeftRight
{
	width:80%;
	height:160px;
	position:relative;
	margin:auto auto;	
}
#footer
{
	width:80%;
	height:100px;
	position:relative;
	margin:auto auto;	
}

* {
  box-sizing: border-box;
}

.warning {
  background-color: orange;
  color: #fff;
  padding: 2em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.commentbox-app {
  font-family: 'Montserrat', sans-serif;
  color: #4a4a4a;
  font-size: 45px;
  .container {
    max-width: 1120px;
    margin: auto;
    padding: 0 10px;
  }
  
  .comment-input,
  .comment-btn {
    float: left;
    display: inline-block;
    height: 70px;
  }
  
  .comment-input {
    appearance: none;
    border: 0;
    border-left: 3px solid transparent;
    background-color: #EEE;
    padding: 10px 10px 10px 32px;
    transition: .65s ease;
    &:focus {
      border-color: orange;
      background-color: #fff;
    }
  }
  
  .comment-btn {
    appearance: none;
    background-color: #fff;
    font-size: 30px;
    text-decoration: none;
    color: orange;
    padding: 10px 32px;
    line-height: 1.5;
    transition: 0.65s ease;
    &,
    &:focus,
    &:active {
      border: 0;      
    }
    &:hover {
      background-color: orange;
      color: #fff;
    }
    &:hover + .comment-input {
      background-color: #fff;
      border-color: orange;
    }
  }
  
  .remove-all-btn {
    appearance: none;
    border: 1px solid #ccc;
    color: #222;
    background-color: #eee;
    padding: .3em .6em;
    font-size: 40%;
  }
  
  .comment-stream {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    
    .comment-remove {
      display: none;
              background-color: red;
        color: #fff;
      font-size: 20px;
      text-decoration: none;
      margin-left: 12px;
      padding: 0 12px;
      opacity: .75;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    
    li {
      font-size: 16px;
      padding-left: 10px;
      border-left: 3px solid #4a4a4a;
      margin-bottom: 5px;
      &:hover .comment-remove {
        display: inline-block;
      }
    }
  }
  
}