﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Guimo E-Learning</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/elerning.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="container">
            <a class="navbar-brand" href="#">E-Learning</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <section>
        <div class="container-fluid" id="home1">
            <div class="row">
                <div class="col-lg-3">
                    <h1>Bienvenue à E-Learning!</h1>
                    <p>
                        Dans le cadre de nos efforts continus afin d’améliorer nos services tout en reconnaissant qu’Internet
                        constitue la principale source d’information pour la plupart de nos clients, nous sommes heureux de
                        présenter un site Web qui affiche un air nouveau et comporte une meilleure fonctionnalité.
                    </p>
                </div>
                <div class="col-lg-4">

                </div>
                <div class="col-lg-3" id="logs">
                    @RenderBody()
                </div>
                <div class="col-lg-1">
                    <!--Facebook-->
                    <a href="" type="button" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
                    <!--Twitter-->
                    <a href="" type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
                    <!--Instagram-->
                    <a href="" type="button" class="btn-floating btn-lg btn-ins"><i class="fa fa-instagram"></i></a>
                    <!--Youtube-->
                    <a href="" type="button" class="btn-floating btn-lg btn-yt"><i class="fa fa-youtube"></i></a>
                    <!--Comments-->
                    <a href="" type="button" class="btn-floating btn-lg btn-comm"><i class="fa fa-comments"></i></a>
                    <!--Email-->
                    <a href="" type="button" class="btn-floating btn-lg btn-email"><i class="fa fa-envelope"></i></a>
                </div>

            </div>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>


