/*!

 */

body {

    background-image: url('../Images/kid.jpg');   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    opacity:0.7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#home1
{
    padding-top: 100px;
    color:antiquewhite;
    font-weight:bolder;
}

#logs
{
    border-style:solid;
    border-width:1px;
    padding:20px;
    border-radius:5px;

}

.fa {
  padding: 15px;
  font-size: 50px;
  width: 50px;
  height:50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
