﻿#main
{
    height:900px;
}    
/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;

    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;

    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

    #coursbox
    {
        margin-bottom:150px;
    }

    #tolearnbox
    {
        background-color:rgba(243, 110, 10, 0.83);
        text-shadow:5px 5px 2px #4e4b4b;
    }
    #tolearn
    {
        font-family:'Arial Rounded MT';
        font-weight:bolder;
        font-size:75px;
        color:whitesmoke;
    }