﻿body {
    background-image: url('../images/jungle.jpg');
    margin:10px 0 0 0;
    width:100%;
    height:100%;
}

form {
    
    margin: auto;
    width: 80%;
    height: 100%;
}
.home
{
    background-color: antiquewhite;
}

.btn:hover,.btn1:hover
{
    color:orangered;
    opacity: 0.9;
}

header 
{
   width:100%; 
}


nav {

    height: 50px;
    background-color: whitesmoke;
    padding-top: 25px;
}

#div1 {
    margin: auto;
    height: 60px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 36px;
}


.div1 {
    display: inline-block;
    margin-left: 10px;
}

section {

    text-align: center;
    width: 100%;
}

.section1 {

  margin-top:0;  
}

.section2 {

    margin-top:-30px;
}

.homearticle {

    text-align: left;
    display: inline-block;
    width: 28%;
    margin: 15px;
    border-top-color: orange;
    border-top-style: solid;
    background-color: ghostwhite;
}

.header2 {
    background-color: ghostwhite;
    color: orange;
    font-weight: bold;
    height: 50px;
    padding-top: 25px;
    font-size:larger;
}

.titre {
    margin-left: 20px;
    margin-right: 20px;
    font-weight:bold;
}

.texte 
{
    margin-left: 20px;
    margin-right: 20px;

}

footer {
    text-align: right;
}


.imghome {
    height: 180px;
    width: 100%;
}

.btn1 {
    float: left;
    margin-left:20px;
    text-decoration: none;
    color: lightslategrey;
    width:70px;
    text-align:center;
}



.bigpic {

    margin-bottom:0;
    text-align: center;
    text-shadow: 5px 2px 5px #100d0d;
    color: ghostwhite;
 
}

.bigpictxt {

    text-align: center;
    margin-top:-60%;
    padding:25%;
  
}

.bigpicbottom {

    margin-top:-15%;
    height: 50px;
    text-align: right;
    margin-right:5%;
    margin-bottom:0;
}

.rectangle {
    width: 50px;
    height: 6px;
    background-color: whitesmoke;
    display: inline-block;
    margin-left:10px;
    border:1px outset gray;
}
.rectangle:hover
{
    border:1px inset orangered;
}
.blury {

    width:100%;
    height:580px;
    background-color:burlywood;
    opacity:0.7;
    filter: blur(2px);
    z-index:-3;
    margin-top:-480px;
}

/*-----------------------------------------page about-------------------------------------------*/

.about_section1
{
   margin:auto;
   text-align:center;
   width:100%;
   border-bottom-left-radius:15%;
   border-bottom-right-radius:15%;
   height:400px;
   background: linear-gradient(to top, rgb(255, 255, 255), rgb(247, 203, 111));
   
}
.about_article1
{
    padding:3%;
    margin:auto;
    width:70%;
}

.about_section2
{
    margin-top:5%;
    padding-top:3%;

}
.circle
{
    border-radius:50px 50px;
    background-color:orangered;
    width:100px;
    height:100px;
    color:ghostwhite;
    margin:auto;
    font-size:x-large;    
}

.blury2 {

    width:100%;
    height:905px;
    background-color:burlywood;
    opacity:0.8;
    filter: blur(2px);
    z-index:-1;
    margin-top:-905px;

}
/*-----------------------------------------gallery-------------------------------------------*/

.gallery_section1
{
   text-align:left;
   margin:auto;
   width:100%;
   height:400px;
   background-color:whitesmoke;
   z-index:1;
   color:dimgray;
   padding-top:50px;
   padding-bottom:50px;
}
.pic_box
{
    padding:0;
    z-index:1;
    margin:auto;
    
    text-align:center;
}
.gallery_pics
{
    height:160px;
    width:260px;
}
.gallery_pics:hover
{
   opacity: 0.2;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*-----------------------------------div class wide--------------------------------------*/
.wide {

    width:98%;
    height:500px;
    background-color:whitesmoke;
    z-index:-1;
    margin-top:-500px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px 15px 6px black;

}


/*-----------------------------------------contact-------------------------------------------*/

.contact_section1
{
   text-align:left;
   margin:auto;
   width:95%;
   height:400px;
   background-color:whitesmoke;
   z-index:1;
   color:dimgray;
   padding-top:50px;
   padding-bottom:50px;
   
}

.contact_article1
{
    padding:0;
    z-index:1;
    width:40%;
    float:left;
    margin:0;
}
.contact_article2
{
    padding:0;
    z-index:1;
    width:60%;
    float:right;
    margin:0;
 
}
.titre_contact 
{

    font-weight:bold;
}
.btn
{
    float: left;
    margin-right: 20px;
    text-decoration: none;
    background-color:#FF3300;
    color: white;
    border-style:none;
    height:40px;
    width:80px;
    border-radius:5px;
    font-size:larger;
}
.email
{
    color:orangered;
    font-size:larger;
    text-decoration:none;
   
}
.txt_box
{
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid silver;
    border-radius:2px;
    color:silver;
    font-weight:bold;
    
}
#TextBox1
{
    height:26px;
    float:left;
    width:30%;
}
#TextBox2
{
    height:26px;
    width:30%;
    margin-left:4%;
    margin-right:4%;
}
#TextBox3
{
   height:26px;
   float:right;
   width:30%;
}
#TextBox4
{
    width:100%;
    height:150px;

}



.fa 
{
    margin-right:10px;
    margin-left:10px;
}

.contact_p
{
    margin:0 0 20px 0;
}
.vcard
{
    text-decoration:none;
    color:orangered;
}