﻿body {
    width:100%;
    height:100%;
}
.grey
{
	background-color:whitesmoke;
	height:100vh;
    width:80%;
    margin:auto;
}

.box
{
	/*border-style:solid;*/
	/*border-color:black;*/
    font-family:Broadway;
    font-size:x-large;
}
.entete {
   background-image: url('../images/welcome.png');
   background-position:center center;
   background-size:100% 120%;
   background-repeat:no-repeat;
   height:100px;
   background-color: #555;
}
.content
{
    height:84%;
}
.navbar-left
{
    padding: 15px;

}

.centrale
{
    border-left:5px solid white;
    height:100%;
    padding:15px;
}

footer
{
    background-color: #555;
    color: white;
    padding: 15px;
    width:80%;
}
.row
{
    margin:0 0 5px 5px;

}

.btn
{
    float:right;
}