﻿@model e_learning.Models.etudiantMode

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h2>Login</h2>
                            <hr />
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword2">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                             </div>
                                <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-md btn-primary" />
                                </div>

    </div>
 <div>
    @Html.ActionLink("Register", "Register", "Home", new { area = "" })
</div>

}





