﻿@model e_learning.Models.etudiantMode

@{
    ViewBag.Title = "Register";
    Layout ="~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Register</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Nom</label>
            <div class="cols-sm-10">
                <div class="input-group">                    
                    <input type="text" class="form-control" name="nom" id="nom"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Prenom</label>
            <div class="cols-sm-10">
                <div class="input-group">                  
                    <input type="text" class="form-control" name="prenom" id="prenom" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    
                    <input type="text" class="form-control" name="email" id="email" />
                </div>
            </div>
        </div>
            <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-md btn-success" />
            </div>
    </div>
<div>
    @Html.ActionLink("Login", "Login", "Home")
</div>
}



