﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Robotique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/etudiantStyle.css" rel="stylesheet" />
</head>
<body>
    @*bare de navigatio*@
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <hi>Robo</hi>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "indexEtudiant", "Etudiant")</li>
                    <li>@Html.ActionLink("Send Message", "sendmessage", "Etudiant")</li>
                    <li>@Html.ActionLink("Inbox", "readmessage", "Etudiant")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Logout", "LogOut", "Etudiant")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="container-fluid text-left">
        <p>Guimo Robotique</p>
    </footer>

</body>
</html>
