﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexAdmin</title>
</head>
<body>
    <div> 
        <h1>IndexAdmin</h1>
    </div>
</body>
</html>
