body
{
background:black;
margin: auto auto;

}

#speaker1
{
margin: 30px 0px;
height:5%;
width:5%;
float: left;

}


#speaker2
{
margin: 30px 0px;
height:5%;
width:5%;
float: right;
}

#entete
{

position:relative; 
margin: 10px auto;
width: 85%;

}

#title
{
margin: 0px 0px;
background-image:url(../images/montreal.jpg);
background-position: bottom center;
background-repeat: no-repeat;
background-size: 960px 180px;
font-family: New Roman; color:white;
font-size: 126px;
font-weight:bold;
text-align: center;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);

}



#logo
{
margin: auto auto;
font-family: New Roman; color:black;
font-size: 100px;
font-weight:bold;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);

text-align: center;
top:0px;
position: relative;
height: auto;
}

#Menue
{
margin: auto auto;   
position: relative;
top:45px;
text-align: center;
  
}

#first
{
margin:5px 5px;
height:450px;
width:920px;   
}

#Hiphop
{

height:150px;
width:150px;
}

#Jazz
{
height:150px;
width:150px;
}

#Haiti
{
height:150px;
width:150px;
}

#Reggae
{	
height:150px;
width:150px;
}

#Rnb
{
height:150px;
width:150px;
}

#Urban
{
height:150px;
width:150px;
}

div#logs
{
margin: auto auto;
font-family: New Roman; color:white;
position:relative;
text-align: center;
top: 150px;
}

button
{
border-radius:20px;
margin: 5px;

}

div.main
{
 margin:auto auto;
 width: 200px;
 padding: 10px 50px 25px;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
}
 
input[type=text],input[type=password],input[type=email]
{
 width: auto;
 height: 20px;
 padding: 5px;
 margin-bottom: 25px;
 margin-top: 5px;
 border: 2px solid #ccc;
 color: #4f4f4f;
 font-size: 16px;
 border-radius: 5px;
}

label
{
 color: white;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
}

input[type=button]
{
 margin:auto;
 font-size: 16px;
 background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
 border: 1px solid #e5a900;
 color: #4E4D4B;
 font-weight: bold;
 cursor: pointer;
 width: auto;
 border-radius: 5px;
 padding: 10px 0;
 outline:none;
}

#LeftRight
{
position: relative;
margin: auto;

}

footer
{

font-family: New Roman; color:white;
text-shadow:1px 1px 0px #ccc;			
position:relative;
margin: auto auto;
text-align: center;
font-size: 40px;
top: 200px;
}

#about
{

border-radius: 25px;

}




