body
{
background-color:black;
margin: auto auto;

}
div#centre
{
margin: auto auto;
background-image:url(../images/3dtable.jpg);
background-position: top center;
background-repeat:no-repeat;
background-size: 100% 220%;
text-align:centre;
width:85%;
position:relative;

top:10px;
}

#speaker1
{
margin: 30px 0px;
height:5%;
width:5%;
float: left;

}


#speaker2
{
margin: 30px 0px;
height:5%;
width:5%;
float: right;
}

#entete
{

position:relative; 
margin: 10px auto;
width: 85%;

}



#title
{
margin: 0px 0px;
background-image:url(../images/montreal.jpg);
background-position: bottom center;
background-repeat: no-repeat;
background-size: 960px 180px;
font-family: New Roman; color:white;
font-size: 126px;
font-weight:bold;
text-align: center;
text-shadow:-1px -1px 0px #ccc,
			-2px -1px 0px #c9c9c9,
			-3px -1px 0px #bbb,
			-4px -1px 0px #b9b9b9,
			-5px -1px 0px #aaa,
			-6px -1px 0px #9f9f9f,
			-7px -1px 0px #9a9a9a,
			-8px -1px 0px #989898,
			0px 0px 5px rgba(0,0,0,.1),
			0px 5px 5px rgba(0,0,0,.3),
			0px 8px 8px rgba(0,0,0,.2),
			0px 10px 9px rgba(0,0,0,.25),
			0px 20px 10px rgba(0,0,0,.2),
			0px 30px 20px rgba(0,0,0,.15);

}


#flecheL
{
margin: auto auto;
float:left;
top:15px;
position:relative;

}

#flecheR
{
margin: auto auto;
float:right;
top:15px;
position:relative;
}

div#Home
{
margin: auto auto;
position:relative;
width: 100px;

}


#navigation
{
width: 50%;
margin: 100px auto;
position: relative;
}

h1{
color:white;
text-align:center;
}


h3{
color:white;
text-align:center;
}


