
body
{
background-image:url(../images/4282.gif);
background-repeat: no-repeat;
background-position:relative;
background-size: 100% 400%;
background-color:black;
}

h1{color:black; font-style:commic;}