﻿body {
    height: 100vh;
}

.centrale {
    background-color: black;
    /*height: 100vh;*/
}

.footer {
    height: 50px;
}

.acceuil {

    padding:50px;
    height: 100vh;
    background-image: url('../images/tape.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}

.txt 
{
    font-size:125px;
    font-weight:bolder;
    font-family:Broadway;
    text-shadow:2px 2px 2px #ff0000;
}


.affiche {

    padding:50px;


}

#GridAffiche
{
    border-radius:15px;
    box-shadow:red 10px 10px inset;
    margin-right: 0;
}