#frm {
    background-color: lightgray;
    padding: 20px;
    width: 800px;
    margin: auto;
    font-size: 120%;
}

#pan1 #frm .header,
.body,
.footer {
    border: solid gray 1px;
    padding: 20px 5px 20px 5px;
    background-color: lightgray;
    margin: 10px;
}

#pan1 #frm .header p {
    border: solid gray 2px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.body {
    width: 96%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.footer {
    text-align: center;
}

.header p {
    font-weight: bold;
}