﻿@{

    Layout = "~/Views/Shared/_LayoutEnseignant.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home de L'enseignant</title>
</head>
<body>
    <h1>Salut,  @Session["nom"] @Session["prenom"]!</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Enseignant Home</h1>
            </div>
        </div>
    </div>
</body>
</html>
