﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages maitres/pmTP3.Master" AutoEventWireup="true" CodeBehind="pageContenu1.aspx.cs" Inherits="exercice_1.pageContenu1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

        <div class="row ">
            <div class="col-sm-8 box">
                <h1>Élève</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 box">
                <asp:Label ID="Label1" runat="server" Text="Guimaëv Jolicoeur"></asp:Label>
            </div>
            <div class="col-sm-3 box">
                <asp:Label ID="Label2" runat="server" Text="Groupe: 4112"></asp:Label>
            </div>
            <div class="col-sm-3 box">
                <asp:Label ID="Label3" runat="server" Text="Pages Maitres"></asp:Label>
            </div>
        </div>

</asp:Content>
