﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages maitres/page_maitre.Master" AutoEventWireup="true" CodeBehind="acceuil.aspx.cs" Inherits="theView.pages_contenus.acceuil" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container-fluid acceuil">
        <div class="row ">
            <div class="col-md-8">
                <h1 class="display-4">Welcom to...</h1>
                <p class="txt">The View</p>
                <h1 class="display-4"><small>by</small> Guimaev Jolicoeur</h1>
            </div>
        </div>
    </div>
</asp:Content>
