li
{
	display:inline;
	margin-right:100px;
	
}
#entete
{
	color:white;
	background-image:url(../image/imgfood1.jpg);
	background-position: center top;
	background-size:100%;
	background-repeat:no-repeat;
	font-size:250%;
	font-family:Impact, Charcoal, sans-serif;
	text-shadow: 3px 2px green;
}

p,ol
{
	margin-top:0%;
	margin-bottom:1%;
}

#a1 
{
	color:white;
    text-decoration: none;
	text-shadow: 3px 2px brown;
}
#a2 
{
	font-size:150%;
	color:black;
    text-decoration: none;
}
a:hover
{
	background-image:url(../image/plate.png);
	background-size: 100%;
	background-position: center center; 
	background-repeat: no-repeat;
}

#menubars
{
	margin-top:0px;
	font-size:200%;
	background-image:url(../image/tablecover1.jpg);
	background-position: cover;
}
#menubars_pied
{
	background-image:url(../image/imgfood1.jpg);
	background-position: center center;
	background-size:100%;
	background-repeat:no-repeat;
	font-size:200%;
	position: absolute;
    bottom: 0px;
	width:100%;
}