﻿@model IEnumerable<ExamenASp_Guimaev.inbox>

@{
    ViewBag.Title = "readmessage";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}

<h2>readmessage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_enseignant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_etudiant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sujet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_enseignant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_etudiant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sujet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_inbox }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_inbox }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_inbox })
        </td>
    </tr>
}

</table>
