﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="page_maitre.master.cs" Inherits="theView.page_maitre" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="../style/StyleSheet1.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar sticky-top navbar-expand-lg  navbar-dark bg-dark">
            <a class="navbar-brand" href="../pages%20contenus/acceuil.aspx">Home</a>
            <a class="navbar-brand" href="../pages%20contenus/AfficherFilm.aspx">Movies</a>
            <a class="navbar-brand" href="../pages%20contenus/InsererFilm.aspx">Upload</a>
            <a class="navbar-brand" href="../pages%20contenus/SelectionnerFilm.aspx">Dowload</a>
        </nav>

        <div class="centrale">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
        </div>
    </form>
    <footer class="footer bg-dark" >
        <div class="container-fluid">
            <p class="text-muted">Guimaev Jolicoeur</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" ></script>
</body>
</html>
